
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: black;
    color: white;
}


.header {
    position: absolute;
    width: 100%;
    z-index: 10;
}

.nav {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li {
    cursor: pointer;
    opacity: 0.9;
}

.btn {
    background: cor;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}


.hero {
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.hero-content,
.search-box {
    position: relative;
    z-index: 2;
}


.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero-content p {
    opacity: 0.85;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn.main {
    background: #ff624a;
}

.btn.outline {
    background: transparent;
    border: 2px solid #ff624a;
}


.search-box {
    background: #1c1c1c;
    padding: 25px;
    width: 360px;
    border-radius: 14px;
}

.search-box h3 {
    margin-bottom: 15px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #111;
    color: #fff;
}

.row {
    display: flex;
    gap: 10px;
}

label {
    font-size: 14px;
    opacity: 0.8;
}

.btn.search {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
}
