
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    background: white;
    color: white;

}


.header {
    position: absolute;
    width: 100%;
    z-index: 10;
    
}




.nav {
    position: fixed;
    top: 0;
    z-index: 9999;
    margin-left: 100px;
    justify-content: space-around;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.726);
    transition: all 2s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    font-size: 24px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    
}


.menu li {
    cursor: pointer;
    opacity: 0.9;
}

.btn {
    background: coral;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}


.hero {
    height: 690px;
    background:linear-gradient(rgba(0, 0, 0, 0.432)), url("https://media.licdn.com/dms/image/v2/C4D1BAQGGdNo6IlDOCQ/company-background_10000/company-background_10000/0/1583275772247?e=2147483647&v=beta&t=0yAsb6yVkN7iA8AU5_19aelUe8XoEpckJ4tdFI3m7xY")  center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    min-height: 100vh;
    padding: 100px 8%;
   

}


.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.50);
}

.hero-content,
.search-box {
    position: relative;
    z-index: 2;
}



.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero-content p {
    opacity: 0.85;
    margin-bottom: 30px;
}



.buttons {
    display: flex;
    gap: 15px;
}

.btn.main {
    background: coral;
    border-radius: 25px;
}

.btn.outline {
    background: transparent;
    border: 2px solid coral;
    border-radius: 25px;
}


.search-box {
    background: black;
    padding: 25px;
    width: 360px;
    border-radius: 14px;
    margin-left: 250px;
    display: inline-block;
}

.search-box h3 {
    margin-bottom: 15px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid grey;
    background: black;
    color: white;
    display: flex;
}

.row {
    display: flex;
    gap: 10px;
}

label {
    font-size: 14px;
    opacity: 0.8;
}

.btn.search {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    display: flex;
}
.btn25{
    border-radius: 25px;
    border: none;
    color: coral;
    background-color: darksalmon;
    display: inline-block;
    width: 130px;
    height: 30px;
    
}


.about {
    background: white;
    color: black;
    padding: 100px 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.about-text h2 {
    font-size: 40px;
    margin: 20px 0;
}

.about-text p {
    color: grey;
    margin-bottom: 20px;
    line-height: 1.6;
}

.about-text ul {
    list-style: none;
    margin-top: 25px;
}

.about-text li {
    margin-bottom: 15px;
    color: darkgrey;
}


.about-img {
    position: relative;
}

.about-img img {
    width: 100%;
    border-radius: 20px;
}


.award {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    padding: 15px 20px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    font-weight: bold;
}

.award span {
    display: block;
    font-size: 14px;
    color: grey;
}



.badge {
    display: inline-block;
    color: coral;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 20px;
}

.why {
    background: white;
    color: black;
    padding: 100px 8%;
    text-align: center;
}

.why h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

.subtitle {
    max-width: 600px;
    margin: 0 auto 50px;
    color: rgb(44, 39, 39);
}

.features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.feature {
    font-size: 16px;
}


.about {
    color: black;
    padding: 100px 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.about-text h2 {
    font-size: 40px;
    margin: 20px 0;
}

.about-text p {
    color: grey;
    margin-bottom: 20px;
    line-height: 1.6;
}

.about-text ul {
    list-style: none;
    margin-top: 25px;
}

.about-text li {
    margin-bottom: 15px;
    color: grey;
}


.about-img {
    position: relative;
}

.about-img img {
    width: 100%;
    border-radius: 20px;
}


.award {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    padding: 15px 20px;
    border-radius: 14px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    font-weight: bold;
}

.award span {
    display: block;
    font-size: 14px;
    color: grey;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
}

.picture img {
    width: 100%;
    display: block;
    background: url(https://www.istockphoto.com/photos/nature);
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: grey;
    margin-top: 6px;
}




.helper{
    width: 80%;
    height: 250px;
    background-color: rgb(255, 226, 215);
    color: black;
    margin: auto;
    border-radius: 16px;
    margin-top: 50px;
}

.helph1{
   padding-top: 70px;
}

.helperbtn{
    width: 200px;
    height: 40px;
    border-radius: 25px;border: none;
    background-color: coral;
    color: white;
}
